body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}
table{ 
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5vh;
    height: 80%;
    width: 50%;
    font-family: 'Permanent Marker', cursive;
    color: white;
    border-collapse: collapse;
    border: 3px solid black;

}

td, th {
    border: 3px solid black;
}

thead {
    background-color:rgb(63, 61, 61);
    font-size: 20px;
    height: 15vh;
}

tfoot {
    background-color:rgb(34, 12, 12);
    height: 8vh;
}

tbody tr:nth-child(even) {
    background-color: #db5d09;
    height: 20vh;
}

tbody tr:nth-child(odd) {
    background-color: #6b6a6a;
    height: 20vh;
}

tbody tr:last-child {
    background-color: rgb(10, 97, 90);
    height: 10vh;
}

tbody tr:first-child {
    background-color: rgb(81, 19, 138);
    height: 12vh;
}

th:hover {
    background-color: #9c0303;
}

