/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  background: url("esquirrou.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

h3 {
  color: white;
}

/* section*/

section article {
  width: 30%;
  background-color: rgb(223, 223, 199);
  border: 1px solid;
  margin: 10px;
  padding: 5px;
  position: right;

}

section p {
  margin: 5px 0;
}

p:nth-child(3) {
  color: rgb(255, 0, 255)
};

